.section-1{
    background-image: url(./assets/background_image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 300px;
    border-bottom: 6px solid #00b3ff;
} 

h1{
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    font-size: 50px;
    color: white;
}

.section-1 > .container > .box > .paragraph{
    font-size: 30px;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
    color: white;
    padding-top: 20px;
}

.button{
    box-shadow: 0 0 10px #1368FA;
}

.section-2{
    background-image: url(./assets/background_image2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 300px;
}
.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    color: white;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 15px;
}
.box1 > .paragraph{
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    width: 100;
    color: rgb(6, 124, 14);
}
.picture{
    border: 6px solid rgb(6, 124, 14);
    box-shadow:
    0px 0 7px rgb(0, 165, 241),
    0 0 90px rgb(0, 255, 42),
    10px 0 70px rgb(8, 0, 255);
}
.dotted-line{
    border: dotted #ffffff 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
body{
    margin: 0;
    background-color: #2cc0ff58;
}
#skills{
    color: white;
    text-align: center;
    padding-bottom: 50px;
}
.skills-color{
    color: rgb(58, 146, 40);
}
#skill-1, #skill-2, #skill-3, #skill-4, #skill-5, #skill-6{
    color: #1f4cb4;
}
#info-1, #info-2, #info-3, #info-4, #info-5, #info-6{
    color: #ffffff;
    text-shadow: 0px 0px 1px #2BBCFF;
}
.box3 > .title{
    color: rgb(6, 124, 14);
    text-align: center;
}
.box3 > .paragraph{
    color: black;
    text-align: center;
}
#unique-paragraph-1{
    color: rgb(255, 255, 255);
    font-weight: bold;
}